main {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

div {
  margin: 0 40px;
  padding: 100px;
  border: 1px solid #333;
  border-radius: 15px;
}

p {
  font-size: 1.5rem;
}

form {
  position: absolute;
  top: -60px;
  display: none;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

form label {
  margin-right: 5px;
  font-size: 1.1rem;
}

form input[type="text"] {
  margin-right: 10px;
  padding: 3px 0;
}
.btn {
  padding: 20px 35px;
  font-size: 1.2rem;
  border-radius: 10px;
}

#btn-new {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: rgb(67, 209, 12);
  border: none;
  color: #eee;
}