header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 150px;
}

div {
  width: 200px;
  margin: 20px;
  padding: 20px 50px;
  border: 1px solid #333;
  border-radius: 15px;
}

p:nth-child(1) {
  font-weight: bold;
}
 
p:nth-child(2) {
  font-style: italic;
}

p:nth-child(4) {
  width: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #555;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

p {
  font-size: 1.5rem;
}

form {
  display: none;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

form label {
  margin-right: 5px;
  font-size: 1.1rem;
}

form input[type="text"] {
  margin-right: 10px;
  padding: 3px 0;
}
#add-book {
  position: absolute;
  top: 40px;
  display: none;
  margin-left: 15px;
  padding: 10px 40px;
  background-color: rgb(67, 209, 12);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

#btn-new {
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 20px 35px;
  background-color: rgb(67, 209, 12);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.btnRemove {
  padding: 5px 10px;
  background-color: rgb(194, 3, 3);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}